{% extends "master.html" %}
{% load static %}

{% block title %}
View Students
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'CSS/view-students.css' %}">
{% endblock %}

{% block content %}
<div class="div2">
    <h2>View All Students</h2>
    <input type="button" value="view" id="btn1" onclick="fetchStudents()">
    <div class="div1">
        <table id="studentsTable">
            <thead>
                <tr>
                    <th id='Sid'>Student ID</th>
                    <th id="Name">Name</th>
                    <th id="Sts">Status</th>
                    <th id="ChangeSts">Change Status</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'JS/view-student.js' %}"></script>
{% endblock %}
