form {
    background-color: rgba(246, 240, 240, 0.8);
    color: #1c1a1a;

    width: 60%;
    height: 80%;
    margin: 0 auto;
    margin: 0 auto;
 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    font-size: large;
    
    margin-bottom: 5px;
}
#id {
    width: 72%;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="button"] {
    background-color: #007BFF;
    color: #fff;
    width: 25%;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}

input, select {
    width: 100%;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

a{
    color: #ffff;
    text-decoration:none;
    font-family: 'Lato', sans-serif;
    font-size: medium;
    font-weight: bold;
    
}

.div1{
    
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: auto;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

p{
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px; ;
    font-size: 15px;
}
