a{
  
    color: #ffff;
    text-decoration:none;
    font-family: 'Lato', sans-serif;
    font-size: medium;
    font-weight: bold;
    
}


.div1{
    
    background-color: rgba(62, 57, 57, 0.8);
    color: #1c1a1a;

    display: block;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: auto;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;

}


p{
    color: #ffffff;
    margin-left: 5%;
    margin-bottom: 10%;
    margin-top: 10%;
    margin-right: 5% ;
    font-size: 10px;
}
