table {
    border-collapse: collapse;
    width: 95%;
    margin-top: 20px;
}

th, td {
    border: 1.8px solid #000000;
    padding: 8px;
    text-align: left;
}

td {
    background-color: #ffffff;
}
th {
    background-color: #868181;
}

#Sid {
    width: 6.1%;
}
#Name {
    width: 21.12%;
}
#dob {
    width: 9.39%;
}
#gpa {
    width: 3.75%;
}
#gender {
    width: 4.69%;
}
#level {
    width: 4.69%;
}
#Sts {
    width: 4.69%;
}
#dept {
    width: 4.69%;
}
#email {
    width: 14.13%;
}
#mobile {
    width: 12.67%;
}
#action {
    width: 14.08%;
}

a{
    color: #ffff;
    text-decoration:none;
    font-family: 'Lato', sans-serif;
    font-size: medium;
    font-weight: bold;
}

/*section{
    display: flex;
    flex-direction: column; 
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}*/
.div2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    margin: 20px;
    height: auto; 
    width: 90%; 
    margin: 20px;
    border-radius: 15px;
    background-color: rgba(246, 240, 240, 0.8);
    color: #1c1a1a;
  }
    .div1{     
        margin: 25px;
        display: flex;
        flex-direction: column; 
        align-items: center;
        width: 100%; 
    }

p{
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px; ;
    font-size: 15px;
}

label {
    font-weight: bold;
    font-size: medium;
}

input {
    width: 50%;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    color: white;
}
