a{
    color: #ffff;
    text-decoration:none;
    font-family: 'Lato', sans-serif;
    font-size: medium;
    font-weight: bold;  
}

form {
    width: 80%;
    max-width: 650px;
    height: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(246, 240, 240, 0.8);    padding: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
    text-align: center;
    color: #1b1b1b;
    margin-bottom: 20px;
}

form label {
    display: block;
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
}

form input, select {
    font-size: large;
    width: 98%;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 3px;
}
#id{
    font-size: large;
    width: 75%;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 3px;
}

#button1 {
    align-self: center;
    background-color: #007BFF;
    color: #fff;
    width: 22%;
    cursor: pointer;
}

form input[type="submit"] {
    align-self: center;
    background-color: #007BFF;
    color: #fff;
    width: 98%;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.div1{
    
    color: #1c1a1a;

    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;

}

p{
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px; ;
    font-size: 15px;
}

#delete:hover{
    background-color: red;
    cursor: pointer;
}
